figure.highlight
  display block
  overflow-x auto
  background #2d2d2d
  color #cccccc
  padding 0.5em
  -webkit-text-size-adjust none
  border-radius: 10px;

pre
  .comment
    color #999999

  .variable,
  .attribute,
  .tag,
  .regexp,
  .ruby .constant,
  .xml .tag .title,
  .xml .pi,
  .xml .doctype,
  .html .doctype,
  .css .id,
  .css .class,
  .css .pseudo
    color #f2777a

  .number,
  .preprocessor,
  .pragma,
  .built_in,
  .literal,
  .params,
  .constant
    color #f99157

  .ruby .class .title,
  .css .rules .attribute
    color #ffcc66

  .string,
  .value,
  .inheritance,
  .header,
  .ruby .symbol,
  .xml .cdata
    color #99cc99

  .title,
  .css .hexcolor
    color #66cccc

  .function,
  .python .decorator,
  .python .title,
  .ruby .function .title,
  .ruby .title .keyword,
  .perl .sub,
  .javascript .title,
  .coffeescript .title
    color #6699cc

  .keyword,
  .javascript .function
    color #cc99cc

  .coffeescript .javascript,
  .javascript .xml,
  .tex .formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .cdata
    opacity 0.5
